body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin: 8px;
    background: #afceeb !important;
}

h1 {
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 20;
    padding-bottom: 100;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    margin: auto;
}

main {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    grid-auto-flow: row dense;
}

.container {
    display: flex;
}

.container select {
    margin: auto;
}

.article h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.article a,
.article a:visited {
    text-decoration: none;
    color: inherit;
}

.image {
    width: 100% !important;
    height: 170px;
    margin: auto;
}

.description {
    width: 100%;
}

.card-item {
    margin-left: 50px !important;
    margin-top: 50px !important;
}

.install-btn {
    width: 200px;
    height: 50px;
    font-size: 16px !important;
    font-weight: 900;
}

.title-first {
    color: #007aaa;
    font-size: 38px !important;
}

.title-second {
    color: #445357;
    font-size: 38px !important;
}

.notify-btn {
    width: 200px;
    height: 50px;
    font-size: 16px !important;
    font-weight: 900;
}

.select {
    margin: auto !important;
    height: 60px !important;
}

.input-text {
    width: 200px !important;
    font-size: 16px !important;
    font-weight: 900;
}

.article-section {
    margin-top: 40px !important;
}

.list {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0 !important;
}

.list li {
    margin-top: 20px;
}